@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header .height, .header .weight {
  font-family: "Noto Sans TC";
  display: block;
  color: #FFD366;
  font-size: 18px;
  margin-bottom: 7px; }

.header .input-height, .header .input-weight {
  display: block;
  font-family: "Noto Sans TC";
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  color: rgba(255, 255, 255, 0.5);
  width: 250px;
  height: 40px;
  font-size: 24px;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 14px;
  border-radius: 10px;
  margin-bottom: 23px;
  outline: none; }
  .header .input-height:hover, .header .input-weight:hover {
    -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
    box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64); }

.header .height, .header .weight {
  font-family: "Noto Sans TC";
  display: block;
  color: #FFD366;
  font-size: 18px;
  margin-bottom: 7px; }

.header .input-height, .header .input-weight {
  display: block;
  font-family: "Noto Sans TC";
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  color: rgba(255, 255, 255, 0.5);
  width: 250px;
  height: 40px;
  font-size: 24px;
  line-height: 28px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 14px;
  border-radius: 10px;
  margin-bottom: 23px;
  outline: none; }
  .header .input-height:hover, .header .input-weight:hover {
    -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
    box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64); }

html {
  background: #f5f5f5; }

.wrap {
  max-width: 100%; }

.w1024 {
  max-width: 100%;
  background: #424242; }

.header {
  max-width: 1024px;
  margin: 0 auto;
  background: #424242;
  height: 300px; }
  .header .logo {
    margin-left: 14.894%;
    margin-top: 92px; }
  .header form {
    display: inline-block;
    vertical-align: top;
    margin-top: 74px;
    margin-left: 10.4726%;
    margin-right: 5.1758%; }
  .header .result {
    width: 120px;
    height: 120px;
    background: #FFD366;
    display: inline-block;
    vertical-align: top;
    margin-top: 92px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 46px;
    cursor: pointer; }
    .header .result:hover {
      -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
      box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64); }
    .header .result .p-result {
      text-align: center;
      font-family: "Open Sans";
      font-size: 24px;
      color: #424242;
      line-height: 25px;
      text-transform: capitalize; }
  .header .good {
    border: 6px solid #86D73F;
    background: #424242;
    position: relative; }
    .header .good:after {
      content: "理想";
      color: #86D73F;
      font-family: "Noto Sans TC";
      font-size: 32px;
      display: inline-block;
      position: absolute;
      left: 140px;
      top: 40px;
      width: 128px; }
    .header .good .p-result {
      color: #86D73F;
      margin-top: -13px; }
      .header .good .p-result p {
        font-size: 14px; }
    .header .good .img {
      background: #86D73F;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(../images/icons_loop.png);
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .header .light {
    border: 6px solid #31BAF9;
    background: #424242;
    position: relative; }
    .header .light:after {
      content: "過輕";
      color: #31BAF9;
      font-family: "Noto Sans TC";
      font-size: 32px;
      display: inline-block;
      position: absolute;
      left: 140px;
      top: 40px;
      width: 128px; }
    .header .light .p-result {
      color: #31BAF9;
      margin-top: -13px; }
      .header .light .p-result p {
        font-size: 14px; }
    .header .light .img {
      background: #31BAF9;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(../images/icons_loop.png);
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .header .heavy {
    border: 6px solid #FF982D;
    background: #424242;
    position: relative; }
    .header .heavy:after {
      content: "過重";
      color: #FF982D;
      font-family: "Noto Sans TC";
      font-size: 32px;
      display: inline-block;
      position: absolute;
      left: 140px;
      top: 40px;
      width: 128px; }
    .header .heavy .p-result {
      color: #FF982D;
      margin-top: -13px; }
      .header .heavy .p-result p {
        font-size: 14px; }
    .header .heavy .img {
      background: #FF982D;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(../images/icons_loop.png);
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .header .light-fat {
    border: 6px solid #FF6C03;
    background: #424242;
    position: relative; }
    .header .light-fat:after {
      content: "輕度肥胖";
      color: #FF6C03;
      font-family: "Noto Sans TC";
      font-size: 32px;
      display: inline-block;
      position: absolute;
      left: 140px;
      top: 40px;
      width: 128px; }
    .header .light-fat .p-result {
      color: #FF6C03;
      margin-top: -13px; }
      .header .light-fat .p-result p {
        font-size: 14px; }
    .header .light-fat .img {
      background: #FF6C03;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(../images/icons_loop.png);
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .header .middle-fat {
    border: 6px solid #FF6C03;
    background: #424242;
    position: relative; }
    .header .middle-fat:after {
      content: "中度肥胖";
      color: #FF6C03;
      font-family: "Noto Sans TC";
      font-size: 32px;
      display: inline-block;
      position: absolute;
      left: 140px;
      top: 40px;
      width: 128px; }
    .header .middle-fat .p-result {
      color: #FF6C03;
      margin-top: -13px; }
      .header .middle-fat .p-result p {
        font-size: 14px; }
    .header .middle-fat .img {
      background: #FF6C03;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(../images/icons_loop.png);
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
      bottom: 0px; }
  .header .too-fat {
    border: 6px solid #FF1200;
    background: #424242;
    position: relative; }
    .header .too-fat:after {
      content: "重度肥胖";
      color: #FF1200;
      font-family: "Noto Sans TC";
      font-size: 32px;
      display: inline-block;
      position: absolute;
      left: 140px;
      top: 40px;
      width: 128px; }
    .header .too-fat .p-result {
      color: #FF1200;
      margin-top: -13px; }
      .header .too-fat .p-result p {
        font-size: 14px; }
    .header .too-fat .img {
      background: #FF1200;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-image: url(../images/icons_loop.png);
      background-position: center center;
      background-repeat: no-repeat;
      position: absolute;
      right: 0px;
      bottom: 0px; }

.all-result {
  max-width: 1024px;
  margin: 0 auto; }
  .all-result .bmirecord {
    font-family: "Noto Sans TC";
    font-size: 24px;
    display: block;
    margin-top: 48px;
    margin-bottom: 36px;
    width: 100%;
    text-align: center; }
  .all-result .eachrecord {
    background: #FFFFFF;
    height: 62px;
    width: 60.9375%;
    margin: 0 auto 16px auto;
    font-family: "Noto Sans TC";
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .all-result .eachrecord p {
      display: inline-block; }
    .all-result .eachrecord p:nth-child(3), .all-result .eachrecord p:nth-child(5) {
      margin-top: 21px;
      font-size: 20px;
      color: #4A4A4A;
      margin-right: 42px; }
    .all-result .eachrecord p:nth-child(even) {
      margin-top: 25px;
      margin-right: 7px;
      vertical-align: top;
      font-size: 12px;
      color: #424242; }
    .all-result .eachrecord p:nth-child(7) {
      margin-right: 52px;
      font-size: 20px; }
  .all-result .eachrecord.good {
    border-left: 7px solid  #86D73F; }
    .all-result .eachrecord.good p:first-child {
      margin-left: 19px;
      margin-right: 70px;
      font-size: 20px; }
  .all-result .eachrecord.light {
    border-left: 7px solid  #31BAF9; }
    .all-result .eachrecord.light p:first-child {
      margin-left: 19px;
      margin-right: 70px;
      font-size: 20px; }
  .all-result .eachrecord.heavy {
    border-left: 7px solid  #FF982D; }
    .all-result .eachrecord.heavy p:first-child {
      margin-left: 19px;
      margin-right: 70px;
      font-size: 20px; }
  .all-result .eachrecord.light-fat, .all-result .eachrecord.middle-fat {
    border-left: 7px solid  #FF6C03; }
    .all-result .eachrecord.light-fat p:first-child, .all-result .eachrecord.middle-fat p:first-child {
      margin-left: 19px;
      margin-right: 30px;
      font-size: 20px; }
  .all-result .eachrecord.too-fat {
    border-left: 7px solid  #FF1200; }
    .all-result .eachrecord.too-fat p:first-child {
      margin-left: 19px;
      margin-right: 30px;
      font-size: 20px; }

.footer {
  width: 100%;
  background: #FFD366;
  height: 90px;
  background-image: url("../images/BMICLogo_B.png");
  background-repeat: no-repeat;
  background-position: center center; }
