@charset "utf-8";
@import 'mixin';
html{
    background: #f5f5f5;
}

.wrap{
    max-width: 100%;
}
.w1024{
    max-width: 100%;
    background: #424242;
}
.header{
    max-width: 1024px;
    margin: 0 auto;
    background: #424242;
    height: 300px;
    .logo{
        margin-left: 14.894%;
        margin-top: 92px;
    }
    form{
        display: inline-block;
        vertical-align: top;
        margin-top: 74px;
        margin-left: 10.4726%;
        margin-right: 5.1758%;
    }
    .height,.weight{
        @extend %label-setting;
    }
    .input-height,.input-weight{
        @extend %input-setting;
    }
    .result{
        width: 120px;
        height: 120px;
        background: #FFD366;
        display: inline-block;
        vertical-align: top;
        margin-top: 92px;
        border-radius: 50%;
        box-sizing: border-box;
        padding-top: 46px;
        cursor: pointer;
        &:hover{
            box-shadow: 0 1px 6px 3px rgba(255,196,50,0.64);
        }
        .p-result{
            text-align: center;
            font-family: $font-en;
            font-size: 24px;
            color: #424242;
            line-height: 25px;
            text-transform: capitalize;
        }    
    }  
    @include p-result-content(good,#86D73F,理想);
    @include p-result-content(light,#31BAF9,過輕);
    @include p-result-content(heavy,#FF982D,過重);
    @include p-result-content(light-fat,#FF6C03,輕度肥胖);
    @include p-result-content(middle-fat,#FF6C03,中度肥胖);
    @include p-result-content(too-fat,#FF1200,重度肥胖);
}

// main
.all-result{
    max-width: 1024px;
    margin: 0 auto;
    .bmirecord{
        font-family: $font-ch;
        font-size: 24px;
        display: block;
        margin-top: 48px;
        margin-bottom: 36px;
        width: 100%;
        text-align: center;
    }
    .eachrecord{
        background: #FFFFFF;
        height: 62px;
        width: 60.9375%;
        margin: 0 auto 16px auto;
        font-family: $font-ch;
        box-sizing: border-box;       
        
        p{
            display: inline-block;
        }
        p:nth-child(3),p:nth-child(5){
            margin-top: 21px;
            font-size: 20px;
            color: #4A4A4A;
            margin-right: 42px;
        }
        p:nth-child(even){
            margin-top: 25px;
            margin-right: 7px;
            vertical-align: top;
            font-size: 12px;
            color: #424242;
        }
        // p:nth-child(1){
        //     margin-left: 19px;
        //     margin-right: 70px;
        // }
        p:nth-child(7){
            margin-right: 52px;
            font-size: 20px;
        }
    }
    
    .eachrecord.good{
        border-left: 7px solid  #86D73F;
        p:first-child{
            margin-left: 19px;
            margin-right: 70px;
            font-size: 20px;
        }
    }
    .eachrecord.light{
        border-left: 7px solid  #31BAF9;
        p:first-child{
            margin-left: 19px;
            margin-right: 70px;
            font-size: 20px;
        }
    }
    .eachrecord.heavy{
        border-left: 7px solid  #FF982D;
        p:first-child{
            margin-left: 19px;
            margin-right: 70px;
            font-size: 20px;
        }
    }
    .eachrecord.light-fat,.eachrecord.middle-fat{
        border-left: 7px solid  #FF6C03;
        p:first-child{
            margin-left: 19px;
            margin-right: 37px;
            font-size: 20px;
        }
    }
    .eachrecord.too-fat{
        border-left: 7px solid  #FF1200;
        p:first-child{
            margin-left: 19px;
            margin-right: 37px;
            font-size: 20px;
        }
    }
}


.footer{
   width: 100%;
   background:  #FFD366;
   height: 90px;
   @include bg('BMICLogo_B','png');
   background-repeat: no-repeat;
   background-position: center center;
}